{% extends 'base.html.twig' %}

{% block title %}Edit Task #{{ task.id }}{% endblock %}

{% block body %}
    <a href="{{ path('task_index') }}">&laquo; back to list</a><br><br>
    
    <h1>Edit Task #{{ task.id }}</h1>
    
    <div class="row">
        <div class="col-12 col-sm-10 col-md-7 col-lg-6 col-xl-4">
            {{ include('task/_form.html.twig', {'button_label': 'Update'}) }}
            {{ include('task/_delete_form.html.twig') }}
        </div>
    </div>
{% endblock %}