{% extends 'base.html.twig' %}

{% block title %}Tasks{% endblock %}

{% block body %}
    <h1>Tasks</h1>
    
    <a href="{{ path('task_new') }}" class="btn btn-info">Create task</a><br><br>

    <table class="table table-bordered">
        <thead>
            <tr>
                {#<th>Id</th>#}
                <th>Title</th>
                <th>Longest comment author/length</th>
                {#<th>Created</th>#}
                {#<th>Updated</th>#}
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for row in rows %}
            {#{% set comment = task.comment %}#}
            {#{% set comment = null %}#}
            <tr>
                {#<td>{{ row.task.id }}</td>#}
                <td>{{ row.task_title }}</td>
                <td>
                    {% if row.comment_author %}
                        {{ row.comment_author }} / {{ row.comment_text_length }}
                    {% else %}
                        no comments
                    {% endif %}
                </td>
                {#<td>{{ task.created ? task.created|date('Y-m-d H:i:s') : '' }}</td>#}
                {#<td>{{ task.updated ? task.updated|date('Y-m-d H:i:s') : '' }}</td>#}
                <td>
                    &bull; <a href="{{ path('task_show', {'id': row.task_id}) }}">show</a><br>
                    &bull; <a href="{{ path('task_edit', {'id': row.task_id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}