{% extends 'base.html.twig' %}

{% block title %}Task #{{ task.id }}{% endblock %}

{% block body %}
    <a href="{{ path('task_index') }}">&laquo; back to list</a><br><br>
    
    <h1>Task #{{ task.id }}</h1>
    
    {#<a href="{{ path('task_edit', {'id': task.id}) }}" class="btn btn-info">Edit</a>#}
    {#{{ include('task/_delete_form.html.twig') }}#}
    
    <div class="card">
        <div class="card-header">{{ task.title }}</div>
        {%  if task.comments %}
            <ul class="list-group list-group-flush">
            {% for comment in task.comments %}
                {#{% set comment = comment.longest_comment %}#}
                 <li class="list-group-item">
                     <span class="pr-2 small">{{ comment.created|date('Y-m-d H:i:s') }}</span><code>{{ comment.author }}</code>
                     <br>
                    {{ comment.text }}
                 </li>
            {% endfor %}
            </ul>
        {% endif %}
    </div>
    
    <br>
    {{ include('task/_comment_form.html.twig', {'form': commentForm, 'button_label': 'Submit'}) }}
    
{% endblock %}