<div class="row">
    <nav class="nav col">
        {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
            <a class="nav-item nav-link" href="{{ path('task_index') }}">Tasks</a>
            <a class="nav-item nav-link" href="{{ path('task_new') }}">Create new task</a>
            <a class="nav-item nav-link" href="{{ path('site_logout') }}">Logout [{{ app.user.username }}]</a>
        {% else %}
            <a class="nav-item nav-link" href="{{ path('site_index') }}">Login</a>
            <a class="nav-item nav-link" href="{{ path('site_register') }}">Register</a>
        {% endif %}
    </nav>
</div>
<div class="row">
    <hr class="col">
</div>